@model List<TaniBoen.Models.Domain.ProductData>

@{
    var i = 1;
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/logo taniboen remove bg2.png">
    <link rel="stylesheet" href="/css/Taniboen_Navbar.css">
    <link rel="stylesheet" href="/css/Taniboen_Shopping_Cart.css">
    <link rel="stylesheet" href="/css/Taniboen_Footer.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>TaniBoen</title>
</head>
<body>

    <div class="navbar">
        <div class="left-section">
            <a asp-controller="Home" asp-action="Index">
                <img src="/assets/logo taniboen remove bg2.png" alt="logo taniboen">
            </a>
            TaniBoen
        </div>
        <div class="right-section">
            <ul class="menu">
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Login" asp-action="UserLogin">Logout</a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="ShoppingCart" asp-action="ShoppingCart">
                        <img src="/assets/shopping-cart-removebg-preview.png" alt="shopping-cart">
                    </a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Profile" asp-action="Profile">
                        <img src="/assets/profile.png" alt="profile">
                    </a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Chat" asp-action="Chat">
                        <img src="/assets/chat-page.png" alt="chat">
                    </a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>

    <div class="main">
        <section>
            <div class="shopping-cart-title">
                Shopping Cart
            </div>
            <div class="shopping-cart-content">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Product Name</th>
                            <th>Product Rating</th>
                            <th>Products Total Review</th>
                            <th>Products Sold</th>
                            <th>Products Price</th>
                            <th>Products Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td class="no">@i</td>
                                <td class="product-name">@product.ProductName</td>
                                <td class="product-rating">@product.ProductRating</td>
                                <td class="product-total-review">@product.ProductTotalReview</td>
                                <td class="product-sold">@product.ProductSold</td>
                                <td class="product-price">@product.ProductPrice</td>
                                <td class="product-quantity">@product.ProductQuantity</td>
                                <td class="action">
                                    <button class="openEdit"> <a href="Category/Edit/@product.Id">Edit</a></button>
                                    <button class="openDelete"> <a href="Delete/@product.Id">Delete</a></button>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
            <div class="checkout">
                <a asp-controller="Payment" asp-action="Payment">
                    <button>Checkout</button>
                </a>
            </div>
        </section>
    </div>

    <div class="footer">
        <div class="footer-upper">
            <div class="footer-upper-left">
                <div class="footer-upper-left-title">
                    Tentang TaniBoen
                </div>
                <div class="footer-upper-left-content">
                    Taniboen Indonesia dengan bangga fokus pada membangun masa depan yang kaya untuk pertanian Indonesia. Kami tinggal dan bekerja di daerah tersebut serta mewakili kepentingan dan aspirasi para produsen utama dan komunitas pedesaan, memberikan nilai nyata dalam setiap hal yang kami lakukan.
                </div>
            </div>
            <div class="footer-upper-right">
                <div class="footer-upper-right-title">
                    Kontak Kami
                </div>
                <div class="footer-upper-right-content">
                    <div class="locationfooter">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Cengkareng, Jakarta Barat</span>
                    </div>
                    <div class="emailfooter">
                        <i class="fa-solid fa-envelope"></i>
                        <span>taniboen@gmail.com</span>
                    </div>
                    <div class="phonefooter">
                        <i class="fa-solid fa-phone"></i>
                        <span>+62 813509080</span>
                    </div>
                    <div class="webfooter">
                        <i class="fa-solid fa-globe"></i>
                        <span>www.taniboen.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            Copyright &copy; 2024 [TaniBoen] All Rights Reserved
        </div>
    </div>

    <script src="/js/Taniboen_Navbar.js"></script>

</body>
</html>